In [1]:
import pandas as pd

/Users/schen/.pyenv/versions/3.7.8/envs/wecloud378/lib/python3.7/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
df = pd.read_csv('dsweekly_data.csv')

In [7]:
df[df['label'].notnull()].count()

title    198
label    202
dtype: int64

In [13]:
df.groupby(by='label').agg('count').sort_values(by='title', ascending=False)

                                    title
label
['nlp']                                 9
['deep learning']                       9
['libraries']                           7
['mlops']                               6
['interview']                           6
...                                   ...
['deep learning', 'python']             1
['deep learning', 'iot']                1
['deep learning', 'ai']                 1
['forecasting', 'python']               1
['algorithms', 'machine learning']      0

[103 rows x 1 columns]