In [1]:
import pandas as pd

/Users/schen/.pyenv/versions/3.7.8/envs/wecloud378/lib/python3.7/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
filename = '../data/stories.csv'

In [3]:
df = pd.read_csv(filename)

In [4]:
df[df['label'].notnull()].count()

title    133
label    133
dtype: int64

In [5]:
df.groupby(by='label').agg('count').sort_values(by='title', ascending=False)

                                                    title
label
['mathematics']                                        12
['computer science']                                    9
['web development']                                     6
['machine learning']                                    6
['deep learning']                                       5
...                                                   ...
['machine learning', 'how-to']                          1
['machine learning', 'mathematics']                     1
['ai', 'machine learning', 'computer science', ...      1
['mathematics', 'course']                               1
['machine learning', 'tutorial']                        1

[72 rows x 1 columns]